dd {
    float: left;
    margin-right: 10px;
}

dt {
    font-weight: normal;
}

th {
    padding: 10px 0 0 10px;
}
p.HEADING {
    font-weight: bold;
}
.section-heading {
    background-color: gainsboro;
}
.table-bordered>tbody>tr>th.divider {
    border: none;
}