<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Spring Boot Thymeleaf Hello World Example</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <link rel="stylesheet" type="text/css"
          href="/webjars/bootstrap/3.1.1/css/bootstrap.min.css" />

    <link rel="stylesheet" th:href="@{/main.css}"
          href="/main.css" />

</head>
<body>

<div class="container">

    <!--/*@thymesVar id="headings" type="List<com.ist.curriculum.opendataparser.diagostics.CCHeading>"*/-->
    <h2>All Headings</h2>
    <table >
        <tr>
            <th>Subject</th>
            <th>Course</th>
            <th>Heading</th>
        </tr>
        <tr th:each="heading : ${headings}">
            <td><a th:href="@{https://www.skolverket.se/laroplaner-amnen-och-kurser/gymnasieutbildning/gymnasieskola/sok-amnen-kurser-och-program/subject.htm(subjectCode=${heading.subjectCode},lang=sv,tos=gy)}" th:text="${heading.subject}"></a></td>
            <td th:utext="${heading.course}"></td>
            <td th:utext="${heading.heading}"></td>
        </tr>
    </table>

</div>
<!-- /.container -->

<script type="text/javascript"
        src="webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</body>
</html>