<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>LGY11 - Subject List</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <link rel="stylesheet" type="text/css"
          href="/webjars/bootstrap/3.1.1/css/bootstrap.min.css" />

    <link rel="stylesheet" th:href="@{/main.css}"
          href="/main.css" />

</head>
<body>

<!--/*@thymesVar id="courseItem" type="org.edtech.curriculum.Course"*/-->
<div class="container" >
    <div th:fragment="course(courseItem)" class="panel panel-primary">
        <div class="panel-heading" th:text="|[${courseItem.getName()}] ${courseItem.getName()}|">[kod] Ämne</div>
        <div class="panel-body">
            <div th:if="${courseItem.getDescription()} != ''">
                <h3>Beskrivning</h3>
                <p th:text="${courseItem.getDescription()}"></p>
            </div>
            <div>
                <h3>Centralt innehåll</h3>
                <th:block th:each="cc : ${courseItem.getCentralContent()}">
                    <h4 th:text="${cc.getHeading()}"></h4>
                    <ul><li th:each="line: ${cc.getLines()}" th:text="${line}"></li></ul>
                </th:block>
            </div>
            <div>
                <h3>Kunskapskrav</h3>
                <table class="table table-striped">
                    <tr>
                        <th>Betyget E</th>
                        <th>Betyget C</th>
                        <th>Betyget A</th>
                    </tr>
                    <tr th:each="kr : ${courseItem.getKnowledgeRequirement()}">
                        <td th:each="choice : ${kr.knowledgeRequirementChoice}" th:utext="${choice.value}" th:class="${choice.value.isEmpty()} ? 'error' : ''"></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- /.container -->

<script type="text/javascript"
        src="webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</body>
</html>