<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Spring Boot Thymeleaf Hello World Example</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <link rel="stylesheet" type="text/css"
          href="/webjars/bootstrap/3.1.1/css/bootstrap.min.css" />

    <link rel="stylesheet" th:href="@{/main.css}"
          href="/main.css" />

</head>
<body>

<div class="container">

    <!--/*@thymesVar id="dotProblems" type="List<com.ist.curriculum.opendataparser.diagostics.KnowledgeRequirementProblem>"*/-->
    <div th:unless="${dotProblems.isEmpty()}">
        <h2>KnowledgeRequirement missing dot problems</h2>

        <table th:each="courseProblem : ${dotProblems}">
            <tr>
                <!--/*@thymesVar id="courseProblem" type="com.ist.curriculum.opendataparser.diagostics.KnowledgeRequirementProblem"*/-->
                <th colspan="3" >
                    <dl>
                        <dd>Problem</dd>
                        <dt th:text="${courseProblem.msg}"></dt>
                        <dd>File</dd>
                        <dt th:text="${courseProblem.subject}"></dt>
                        <dd>Subject Code</dd>
                        <dt th:text="${courseProblem.subjectCode}"></dt>
                        <dd>Course Code</dd>
                        <dt th:text="${courseProblem.courseCode}"></dt>
                    </dl>
                    <a th:href="@{/subject/{subjectFileName}/course/{code}(subjectFileName=${courseProblem.file},code=${courseProblem.courseCode})}" target="_blank">Open JSON</a>
                </th>
            </tr>
            <tr>
                <td th:utext="${courseProblem.levelEHtml}"></td>
                <td th:utext="${courseProblem.levelCHtml}"></td>
                <td th:utext="${courseProblem.levelAHtml}"></td>
            </tr>
        </table>
    </div>
    <div >
        <h2>KnowledgeRequirement matching problems</h2>
        <!--/*@thymesVar id="matchProblems" type="List<com.ist.curriculum.opendataparser.diagostics.KnowledgeRequirementProblem>"*/-->
        <table th:each="courseProblem : ${matchProblems}">
            <tr>
                <!--/*@thymesVar id="courseProblem" type="com.ist.curriculum.opendataparser.diagostics.KnowledgeRequirementProblem"*/-->
                <th colspan="3" >
                    <dl>
                        <dd>Problem</dd>
                        <dt th:text="${courseProblem.msg}"></dt>
                        <dd>Subject</dd>
                        <dt th:text="${courseProblem.subject}"></dt>
                        <dd>Subject Code</dd>
                        <dt th:text="${courseProblem.subjectCode}"></dt>
                        <dd>Course Code</dd>
                        <dt th:text="${courseProblem.courseCode}"></dt>
                    </dl>
                    <a th:href="@{/subject/{subjectFileName}/course/{code}(subjectFileName=${courseProblem.file},code=${courseProblem.courseCode})}" target="_blank">Open Course</a>
                    <a th:href="@{/api/subject/{subjectFileName}/course/{code}(subjectFileName=${courseProblem.file},code=${courseProblem.courseCode})}" target="_blank">Open JSON</a>
                </th>
            </tr>
            <tr>
                <th>Betyget E</th>
                <th>Betyget C</th>
                <th>Betyget A</th>
            </tr>
            <tr>
                <td th:utext="${courseProblem.levelEHtml}"></td>
                <td th:utext="${courseProblem.levelCHtml}"></td>
                <td th:utext="${courseProblem.levelAHtml}"></td>
            </tr>
        </table>
    </div>
</div>
<!-- /.container -->

<script type="text/javascript"
        src="webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</body>
</html>