<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>LGY11 - Subject List</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <link rel="stylesheet" type="text/css"
          href="/webjars/bootstrap/3.1.1/css/bootstrap.min.css" />

    <link rel="stylesheet" th:href="@{/main.css}"
          href="/main.css" />

</head>
<body>
<div class="container">
    <div th:include="fragments/menu::header-menu(${syllabuses},${schoolType})"></div>
    <div class="row">
        <!--/*@thymesVar id="subject" type="org.edtech.curriculum.Subject"*/-->
        <div class="col-md-3" th:include="fragments/menu::subject-menu(${syllabuses.get(schoolType)},null,${schoolType})"></div>
        <div class="col-md-9" >
            <div class="alert alert-info" role="alert">
                <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span> Välj ett <strong>ämne</strong>!
            </div>
            <blockquote>
                <p>Sverige skall bli det ledande landet i världen på att utnyttja digitaliseringens möjligheter och effekter i utbildningssystemet.</p>
                <footer>Regeringen om nationell digitaliseringsstrategi för skolväsendet <cite title="Source Title">Diarienummer: U2017/04119/S</cite></footer>
            </blockquote>
        </div>
    </div>
</div>
<!-- /.container -->

<script type="text/javascript"
        src="webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</body>
</html>