<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>LGY11 - Subject List</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <link rel="stylesheet" type="text/css"
          href="/webjars/bootstrap/3.1.1/css/bootstrap.min.css" />

    <link rel="stylesheet" th:href="@{/main.css}"
          href="/static/main.css" />

</head>
<body>

<div class="container">
    <div th:include="fragments/menu::header-menu(${syllabuses},${schoolForm})"></div>
    <div class="row">
        <!--/*@thymesVar id="subject" type="org.edtech.curriculum.Subject"*/-->
        <div class="col-md-3" th:include="fragments/menu::subject-menu(${syllabuses.get(schoolForm)},${subject.getCode()},${schoolForm})"></div>
        <div class="col-md-9" th:if="${subject != null}">
            <h1 th:text="${subject.getName()}">Namn</h1>
            <div>
                <label>Kod</label>
                <span th:text="${subject.getCode()}"></span>
                <a th:href="@{/api/subject/{schoolForm}/{subject}(schoolForm=${schoolForm}, subject=${subject.getCode()})}" target="_blank">Open JSON</a>
            </div>
            <div>
                <h3>Beskrivning</h3>
                <p th:text="${subject.getDescription()}"></p>
            </div>
            <div>
                <h3>Syfte</h3>
                <!--/*@thymesVar id="purpose" type="org.edtech.curriculum.Purpose"*/-->
                <!--/*@thymesVar id="PurposeType" type="org.edtech.curriculum.PurposeType"*/-->
                <section th:each="purpose: ${subject.getPurposes()}">
                    <h4 th:if="${purpose.getHeading() != ''}" th:text="${purpose.getHeading()}"></h4>
                    <p th:if="${purpose.getType().name() == 'PARAGRAPH'}" th:each="purposeLine: ${purpose.getLines()}" th:text="${purposeLine}"></p>
                    <ul th:if="${purpose.getType().name() == 'BULLET'}">
                        <li th:each="purposeLine: ${purpose.getLines()}" th:text="${purposeLine}"></li>
                    </ul>
                </section>
            </div>
            <div>
                <h3>Kurser / Stadier</h3>
                <div th:each="course: ${subject.getCourses()}">
                    <div th:replace="course::course(${course})"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /.container -->

<script type="text/javascript"
        src="webjars/bootstrap/3.1.1/js/bootstrap.min.js"></script>

</body>
</html>